* {
  box-sizing:border-box;
}

body{
  margin: 0;
}
.main{
  margin-top: 6rem;
  padding: 0rem 1rem;
}
.fighterGrid{
  display: flex;
  flex-wrap: wrap;
}

.input-wrapper {
  background-color: #d0d0d0;
  margin:auto;
  width: 90%;
  border-radius: 10px;
  height: 3rem;
  display:flex;
  align-items: center;

}

input {
  background-color: transparent;
  border: none;
  height:100%;
  width: 100%;
  border-radius: 10px;
  padding: 5px
}

input:focus{
  outline:none;
}

.tableContainer {
  margin: 1rem;
  display: flex;
}

.tableContainer table {
  width: 100%;
  font-size: 1.25rem;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

.tableContainer th {
  background-color: black;
  color: white;
}

.tableContainer td {
  text-align: center;
}

.tableContainer tr {
  cursor: pointer;
}

.tableContainer tr:nth-child(odd){
  background-color: #d0d0d0;
}

.tableContainer tr:hover{
  background-color: #999;
}

.cardContainer {
  display: flex;
  flex-wrap: flex;
}